$nav-line-height: 30px;
$sidenav-width: 310px !default;
$screen-md-min: 992px !default;

.sidenav{
  width: $sidenav-width;
  overflow-y: scroll;
  position: fixed;
  height: 100%;
  left: -$sidenav-width;
  top: 0;
  color: white;
  box-sizing: border-box;
  padding: 30px 15px;
  border-right: 1px solid black;
  z-index: 1000;
  @include linearGradient(#7061a2, #2b214c);
  transition: left 300ms;

  &.open{
    left: 0;
  }

  @media (min-width: $screen-md-min){
    left: 0;
  }

  .logo{
    height: 30px;
    margin: 0 0 50px 10px;
  }

  nav{
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      li{
        line-height: $nav-line-height;
        position: relative;
        padding-left: 15px;
        margin-bottom: 10px;

        a{
          @include font-size(1.8);
          color: #E2DFEA;
          text-decoration: none;
          &:hover{
            color: white;
          }
        }

        &.active{

          &:before{
            background-color: white;
          }
          a{
            font-weight: bold;
            color: white;
          }
        }

        &:before{
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 5px;
          height: $nav-line-height;
          display: inline-block;
          background-color: #B1AAC8;
        }
      }
    }
  }
}

.toogle-sidenav{
  border: none;
  outline: 0;
  width: 37px;
  height: 26px;
  background: #ffffff url("/assets/images/vimeotest-assets.png") no-repeat 0 0px;
  display: inline-block;
  vertical-align: middle;
  @media (min-width: $screen-md-min){
    display: none;
  }
}

.close-sidenav{
  background-color: transparent;
  border: none;
  outline: 0;
  color: white;
  position: absolute;
  right: 10px;
  top: 0;
  display: inline-block;
  &:after{
    content: "x";
    font-size: 30px;
  }

  @media (min-width: $screen-md-min){
    display: none;
  }
}
