.detail-top{
  background-color: black;

  .video-wrapper{
    width: 100%;
    min-width: 320px;
    //max-height: 400px;
    margin: 0 auto;
    background-color: black;

    .video-wrapper-inner{
      width: 100%;
      //padding-bottom: 75.39%;
      position: relative;
      background: black;

      >iframe{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
      }

    }
  }
}

.video-content{
  padding: 20px;
  .video-title-wp{
    position: relative;
    padding: 0 0 15px 0;

    &.left-marginal{
      @media (min-width: $screen-md-min){
        padding: 5px 0 15px 80px;
      }
    }



    .vimeo-user-img{
      position: absolute;
      left: 0;
      top: 0;
      width: 62px;
      height: 62px;
      border-radius: 50%;
      display: none;
      @media (min-width: $screen-md-min){
        display: block;
      }
    }
    .video-title{
      color: #635392;
      font-weight: bold;
      margin: 0;
      font-size: 28px;
      @media (min-width: $screen-md-min){
        font-size: 36px;
      }
    }
    .vimeo-user-info{
      color: #545454;
      font-size: 18px;
      .video-user-name{
        color: black;
        font-weight: bold;
      }
    }
  }

  .video-description{
    color: #333333;
    font-size: 18px;
    margin-bottom: 15px;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

}

.video-social-info{
  text-align: right;
  padding: 10px 15px;
  border-bottom: 1px solid #EEEEEE;

  .si-item{
    display: inline-block;
    padding-left: 20px;
    position: relative;
    margin-left: 10px;

    > i{
      background: #ffffff url("/assets/images/vimeotest-assets.png") no-repeat -38px 0px;
      position: absolute;
      left: 0;
      top: 0;
      width: 16px;
      height: 16px;
      display: block;
      &.likes{
        background-position: -38px -16px;
      }
      &.comments{
        background-position: -38px -48px;
      }
    }
  }
}


